<footer class="page-footer center-on-small-only">
    <!--Footer links-->
    <div class="container-fluid">
        <div class="row">
        <!--First column-->
        <div class="col-md-3 offset-lg-1 hidden-lg-down">
            <h5 class="title">Sobre nós</h5>
            <p>Uma startup que tem como foco aumentar a rentabilidade do produtor com a economia de compra dos insumos.</p>
        </div>
        <!--/.First column-->
        <hr class="hidden-md-up">
        <!--Second column-->
        <div class="col-lg-2 col-md-4 offset-lg-1">
            <h5 class="title">Distribuidores</h5>
            <ul>
            <li>
                <a href="#!">Capivara 1</a>
            </li>
            <li>
                <a href="#!">Capivara 2</a>
            </li>
            <li>
                <a href="#!">Capivara 3</a>
            </li>
            <li>
                <a href="#!">Capivara 4</a>
            </li>
            </ul>
        </div>
        <!--/.Second column-->
        <hr class="hidden-md-up">
        <!--Third column-->
        <div class="col-lg-2 col-md-4">
            <h5 class="title">Colaboradores</h5>
            <ul>
            <li>
                <a href="#!">João</a>
            </li>
            <li>
                <a href="#!">Maria</a>
            </li>
            <li>
                <a href="#!">José</a>
            </li>
            <li>
                <a href="#!">Wisky</a>
            </li>
            </ul>
        </div>
        <!--/.Third column-->
        <hr class="hidden-md-up">
        <!--Fourth column-->
        <div class="col-lg-2 col-md-4">
            <h5 class="title">Find me on</h5>
            <ul>
            <li>
                <a href="#!">Facebook</a>
            </li>
            <li>
                <a href="#!">Youtube</a>
            </li>
            <li>
                <a href="#!">Instagram</a>
            </li>
            <li>
                <a href="http://google.com">Pinterest</a>
            </li>
            </ul>
        </div>
        <!--/.Fourth column-->
        </div>
    </div>
    <!--/.Footer links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="containter-fluid">
        © 2017 Copyright: <a href="http://www.MDBootstrap.com"> Planeje Insumos</a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
