<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Planeje Insumos</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="stylesheets/mdb.min.css" rel="stylesheet">

    <!-- Template styles -->
    <style rel="stylesheet">
        /* TEMPLATE STYLES */
        
        main {
            margin-top: 3rem;
        }
        
        main .card {
            margin-bottom: 2rem;
        }
        
        @media only screen and (max-width: 768px) {
            .read-more {
                text-align: center;
            }
        }
        
        .navbar {
            background-color: #0f6256;
        }
        
        footer.page-footer {
            background-color: #0f6256;
            margin-top: 2rem;
        }
    </style>

</head>

<body>

    <header>
        <!--Navbar-->
        <nav class="navbar navbar-toggleable-md navbar-dark">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <strong>Planeje Insumos</strong>
                </a>
                <div class="collapse navbar-collapse" id="navbarNav1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link">Adubos <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Pesticidas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Sementes</a>
                        </li>
                    </ul>
                    <form class="form-inline waves-effect waves-light">
                        <input class="form-control" type="text" placeholder="Buscar">
                    </form>
                </div>
            </div>
        </nav>
        <!--/.Navbar-->
    </header>

    <main>
        <!--Main layout-->
        <div class="container">

            <!--Page heading-->
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h1-responsive">Adubos
                        <small class="text-muted">acharemos o menor preço para você</small>
                    </h1>
                </div>
            </div>
            <!--/.Page heading-->
            <hr>

            <!--First row-->
            <div class="row wow">
                <% var lista = [
                    {
                        identificador: "graphicTest",
                        nome: "teste",
                        valor: 12.75,
                        descricao: "uma descricao de teste 1"
                    },
                    {
                        identificador: "graphicTest2",
                        nome: "teste",
                        valor: 11.75,
                        descricao: "uma descricao de teste 2"
                    },
                    {
                        identificador: "graphicTest3",
                        nome: "teste",
                        valor: 10.75,
                        descricao: "uma descricao de teste 3"
                    }
                ] %>
                <% for(i = 0; i < lista.length; i++){ %>
                    <% obj= lista[i]; %>
                    <%- include column %>
                <% } %>
            </div>
            <!--/.First row-->

            <!--Second row-->
            <div class="row">
                <% var lista2 = [
                    {
                        identificador: "graphicTest4",
                        nome: "teste",
                        valor: 19.75,
                        descricao: "uma descricao de teste 4"
                    },
                    {
                        identificador: "graphicTest5",
                        nome: "teste",
                        valor: 18.75,
                        descricao: "uma descricao de teste 5"
                    },
                    {
                        identificador: "graphicTest6",
                        nome: "teste",
                        valor: 17.75,
                        descricao: "uma descricao de teste 6"
                    }
                ] %>
                <% for(i = 0; i < lista2.length; i++){ %>
                    <% obj= lista2[i]; %>
                    <%- include column %>
                <% } %>
            </div>
            <!--/.Second row-->
            <hr>

            <!--Pagination-->
            <nav class="row flex-center wow fadeIn" data-wow-delay="0.2s">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#!" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#!">1 <span class="sr-only">(current)</span></a>
                    </li>
                    <!--
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item"><a class="page-link" href="#!">4</a></li>
                    <li class="page-item"><a class="page-link" href="#!">5</a></li>
                    -->
                    <li class="page-item">
                        <a class="page-link" href="#!" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--/.Pagination-->
        </div>
        <!--/.Main layout-->
    </main>

    <!--Footer-->
    <footer class="page-footer center-on-small-only">
        <!--Footer links-->
        <div class="container-fluid">
            <div class="row">
                <!--First column-->
                <div class="col-md-3 offset-lg-1 hidden-lg-down">
                    <h5 class="title">Sobre nós</h5>
                    <p>Uma startup que tem como foco aumentar a rentabilidade do produtor com a economia de compra dos insumos.</p>
                </div>
                <!--/.First column-->
                <hr class="hidden-md-up">
                <!--Second column-->
                <div class="col-lg-2 col-md-4 offset-lg-1">
                    <h5 class="title">Distribuidores</h5>
                    <ul>
                        <li>
                            <a href="#!">Capivara 1</a>
                        </li>
                        <li>
                            <a href="#!">Capivara 2</a>
                        </li>
                        <li>
                            <a href="#!">Capivara 3</a>
                        </li>
                        <li>
                            <a href="#!">Capivara 4</a>
                        </li>
                    </ul>
                </div>
                <!--/.Second column-->
                <hr class="hidden-md-up">
                <!--Third column-->
                <div class="col-lg-2 col-md-4">
                    <h5 class="title">Colaboradores</h5>
                    <ul>
                        <li>
                            <a href="#!">João</a>
                        </li>
                        <li>
                            <a href="#!">Maria</a>
                        </li>
                        <li>
                            <a href="#!">José</a>
                        </li>
                        <li>
                            <a href="#!">Wisky</a>
                        </li>
                    </ul>
                </div>
                <!--/.Third column-->
                <hr class="hidden-md-up">
                <!--Fourth column-->
                <div class="col-lg-2 col-md-4">
                    <h5 class="title">Find me on</h5>
                    <ul>
                        <li>
                            <a href="#!">Facebook</a>
                        </li>
                        <li>
                            <a href="#!">Youtube</a>
                        </li>
                        <li>
                            <a href="#!">Instagram</a>
                        </li>
                        <li>
                            <a href="#!">Pinterest</a>
                        </li>
                    </ul>
                </div>
                <!--/.Fourth column-->
            </div>
        </div>
        <!--/.Footer links-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="containter-fluid">
                <!--© 2015 Copyright: <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a> -->
                © 2017 Copyright: <a href="http://www.MDBootstrap.com"> Compare Insumos</a>
            </div>
        </div>
        <!--/.Copyright-->
    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="javascripts/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="javascripts/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="javascripts/mdb.min.js"></script>

    <!-- Google charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript" src="javascripts/pagecompiler.js"></script>

    <script>
        new WOW().init();
        
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(chartcompiler);
    </script>

    
</body>

</html>
