<!--First row-->
<div class="row wow">
    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s" ng-repeat="obj in linha.slice(0,3)">
        <!--Card-->
        <insumos></insumos>
    </div>
</div>
<!--/.First row-->

<!--Second row-->
 <div class="row">
    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s" ng-repeat="obj in linha.slice(3,6)">
        <!--Card-->
        <insumos></insumos>
    </div>
</div>
<!--/.Second row-->



